@{
    ViewData["Title"] = "Izvještaj";
}

<h1>Izvještaj</h1>

<p>Preuzmi Excel izvještaj o zaposlenicima grupisanim po odjelu.</p>

<a asp-action="Download" class="btn btn-success">
    Preuzmi izvještaj
</a>